<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RYDEL.modelView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="modelView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
			<RYDEL.modelView.Properties.Settings>
				<setting name="modelView_AdminPagos_AdminPagos" serializeAs="String">
					<value>http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos</value>
				</setting>
				<setting name="modelView_Clientes_Clientes" serializeAs="String">
					<value>http://10.30.3.15:8011/NMP/CRM/Clientes</value>
				</setting>
				<setting name="RYDEL_modelView_DSRFPagoLinea_DSRFPagoLinea" serializeAs="String">
					<value>http://10.30.6.50:8012/NMP/MIDAS/DSRFPago</value>
				</setting>
			</RYDEL.modelView.Properties.Settings>
			<modelView.Properties.Settings>
				<setting name="modelView_DSRFPagoLinea_DSRFPagoLinea" serializeAs="String">
					<value>http://10.30.6.50:8012/NMP/MIDAS/DSRFPago</value>
				</setting>
				<setting name="modelView_AdminPagos_AdminPagos" serializeAs="String">
					<value>http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos</value>
				</setting>
				<setting name="modelView_Clientes_Clientes" serializeAs="String">
					<value>https://10.30.2.38:8012/NMP/CRM/Clientes</value>
				</setting>
			</modelView.Properties.Settings>
			<!--
        <RYDEL.modelView.Properties.Settings>
            <setting name="modelView_AdminPagos_AdminPagos" serializeAs="String">
                <value>http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos</value>
            </setting>
            <setting name="modelView_Clientes_Clientes" serializeAs="String">
                <value>http://10.30.3.15:8011/NMP/CRM/Clientes</value>
            </setting>
            <setting name="RYDEL_modelView_DSRFPagoLinea_DSRFPagoLinea" serializeAs="String">
                <value>http://10.30.2.38:8011/NMP/MIDAS/DSRFPago</value>
            </setting>
        </RYDEL.modelView.Properties.Settings>
        <modelView.Properties.Settings>
            <setting name="modelView_DSRFPagoLinea_DSRFPagoLinea" serializeAs="String">
                <value>http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/DSRFPago</value>
            </setting>
            <setting name="modelView_AdminPagos_AdminPagos" serializeAs="String">
                <value>http://dcpsoadev1n1.nmp.com.mx:8011/NMP/MIDAS/AdminPagos</value>
            </setting>
            <setting name="modelView_Clientes_Clientes" serializeAs="String">
                <value>https://10.30.2.38:8012/NMP/CRM/Clientes</value>
            </setting>
        </modelView.Properties.Settings> -->
				
    </applicationSettings>
</configuration>